@import "../../../styles/mixins";
.wrapper {
  padding: 40px;
  flex: 1;
  @include mobile() {
    padding: 20px;
  }
}
.emptyState {
  color: var(--Primary-Color, #378760);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 150% */
  height: 400px;
  width: 380px;
}
.listContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  width: 380px;
  overflow-y: auto;
  @include mobile() {
    gap: 10px;
    max-height: unset;
  }
  .title {
    color: var(--Dark-Dark-2, #555770);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 175% */
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
