.wrapper{
  border-radius: 10px;
  border: 1px solid var(--Primary-Color, #378760);
  background: var(--Light-Light-4, #FFF);
  padding: 8px 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--Dark-Dark-2, #555770);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 150% */
  font-family: inherit;
  cursor: pointer;
  &:hover .arrow {
    animation: moveArrow 1s forwards;
  }
}
@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.arrow {
  display: inline-block;
  transition: transform 0.5s;
}
